﻿@model CanteenValidator.Models.Holiday
@{
    ViewData["Title"] = "Danh sách nghỉ lễ, Tết";
}
<input hidden id="pageNumber" value="3" />
<input hidden id="home" value="0" />
<div id="page-content-wrapper">
    <div class="container px-0 ml-0" style="max-width: 100%; height: 100%;">
        <main role="main">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mainwindow  mx-2 pb-0" style="display: table">
                <div class="title">Điền thông tin nhân viên</div>
                <form class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-4 col-form-label">Email</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email..." required>
                            <div class="invalid-tooltip">
                                Vui lòng nhập email.
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-md-4 col-form-label">Họ và tên</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="Họ tên..." required>
                            <div class="invalid-tooltip">
                                Vui lòng nhập họ và tên.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Last name</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" required>
                        <div class="invalid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-md-4 pt-0">Radios</legend>
                            <div class="col-md-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-md-4">Checkbox</div>
                        <div class="col-md-8">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>            
            </div>
        </main>
    </div>
</div>

<div id="popup_holiday" class="overlay" style="position:fixed; z-index:10;">
    <div class="popup">
        <h5>Thông báo</h5>
        <a class="close" href="#">&times;</a>
        <h3 class="content" id="content">

        </h3>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="holidayRemoveModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md" style="text-align:-webkit-center">
        <div class="modal-content" style="max-width:450px;">
            <div class="modal-header justify-content-between bg-main">
                <h3 class="modal-title" style="color: white;">Xóa ngày nghỉ</h3>
                <button type="button" class="close fa fa-close" data-dismiss="modal">
                </button>
            </div>

            <form>
                <div id="removeTitle" style="font-size:20px;">
                    Bạn có muốn xóa ngày nghỉ không ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnRemoveYes" class="btn btn-primary button4">OK</button>
                    <button type="button" id="btnRemoveNo" class="btn btn-primary button4">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="~/js/holiday.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>