﻿@{
    ViewData["Title"] = "Báo cáo";
    Layout = "";
}
@model CanteenValidator.Models.SearchModel
<environment include="Development">
    <script src="~/js/company-report.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/company-report.js" asp-append-version="true"></script>
</environment>
<div class="company-report">
    <div class="py-2" style="background-color:white;">
        <div class="row justify-content-between">
            <div class="col-6 col-md-2 form-group pl-0 pr-1 pr-md-2">
                <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedCompanyCode)"
                        asp-items="@(new SelectList(Model.SearchViewModel.Companies, "Code", "Name"))" id="Companies_C">
                    <option value="">Tất cả công ty</option>
                </select>
            </div>
            @*<div class="col-4 col-md-2 form-group">
                    @Html.DropDownListFor(x => x.SearchViewModel.SelectedTypeCode, new SelectList(Model.SearchViewModel.Types, "Code", "Name"), htmlAttributes: new { @class = "form-control", id = "Types" })
                    @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedTypeCode, "", new { @class = "text-danger" })
                </div>*@
            <div class="col-6 col-md-3 px-0 pl-1 form-group">
                @*<input type="date" id="FromDate_C" style="width:100%; height:100%; margin:0">*@
                @Html.DropDownListFor(x => x.SearchViewModel.SelectedMonthCode, Model.SearchViewModel.Months, htmlAttributes: new { @class = "form-control", id = "Months_C" })
                @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedMonthCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 col-md-3 form-group pl-0 pr-1 pr-md-0">
                @*<input type="date" id="ToDate_C" style="width:100%; height:100%; margin:0">*@
                @Html.DropDownListFor(x => x.SearchViewModel.SelectedYearCode, Model.SearchViewModel.Years, htmlAttributes: new { @class = "form-control", id = "Years_C" })
                @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedYearCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 d-block d-md-none pr-0 pl-1 mb-1">
                <button type="button" class=" h-100 w-100" onclick="printDailyReport()">
                    <i class="fa fa-file-excel-o"></i>
                    Xuất báo cáo theo ngày
                </button>
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="title" style="align-self:center;">
                <span class="pr-1">Tổng số phiếu đã dùng:</span>
                <span id="totalUsed_C" style="font-weight:bold;"></span>
            </div>
            <div class="d-none d-md-flex" style="margin-left:auto;">
                <button type="button" class="ml-2" onclick="printDailyReport()">
                    <i class="fa fa-file-excel-o"></i>
                    Xuất báo cáo theo ngày
                </button>
            </div>
        </div>
        <div class="d-none">
            <span class="pr-1">Tổng số phiếu còn lại:</span>
            <span id="totalAvailable_C"></span>
        </div>
    </div>
    @*<h5 class="p-2">Danh sách kết quả</h5>*@
    <div>
        <table class="table p-0 m-0" id="ListTable_C" data-cols-width="7,30,25,20">
            <thead style="background-color:dimgray; ">
                <tr>
                    <th data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label>STT</label>
                    </th>
                    @*<th id="sortTh" onclick="sortPaginatedTable(1, 'string', 2, 1)" data-exclude='true' data-a-h="center" data-f-bold="true">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Department, "Phòng ban")
                            <i class="fa fa-sort"></i>
                        </th>*@
                    <th id="sortTh" onclick="sortPaginatedTable('ListTable_C', 1, 'string', 0, 1)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label id="sortTh">Công ty</label>
                        <i class="fa fa-sort"></i>
                    </th>
                    <th data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label>Số phiếu đã dùng</label>
                    </th>
                    @*<th data-exclude="true" data-a-h="center" data-f-bold="true">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Available, "Số phiếu còn lại")
                        </th>*@
                    @*<th data-exclude="true" id="sortTh" onclick="sortPaginatedTable(6, skip = 2)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Type, "Đối tượng")
                            <i class="fa fa-sort"></i>
                        </th>*@
                    @*<th class="d-none">Tổng số phiếu khả dụng</th>
                        <th class="d-none" id="hiddenTotalAvailable"></th>*@
                </tr>
            </thead>
            <tbody id="listReport_C">
            </tbody>
            <tr class="d-none">
                <th colspan="3" data-f-bold="true" data-a-h="center" data-b-a-s='thin'>Tổng số phiếu đã dùng</th>
                <th id="hiddenTotalUsed_C" data-f-bold="true" data-a-h="right" data-t="n" data-b-a-s='thin'></th>
            </tr>
        </table>
        <table class="d-none" id="DailyReportTable">
            <thead>
                <tr class="d-none" data-height="50">
                    <td id="dailyReportHeader" data-f-sz="20" data-a-h="center" data-a-v="middle" data-f-bold="true">
                        BÁO CÁO PHIẾU CƠM THEO NGÀY
                    </td>
                </tr>
                <tr class="d-none" data-height="35">
                    <td id="dailyReportTimeHeader" data-f-sz="14" data-a-h="center" data-a-v="middle">
                    </td>
                </tr>
            </thead>
            <tbody id="listDailyReport">
            </tbody>
        </table>
        @*<table class="d-none" id="MonthlyReportTable" data-cols-width="10,30,25">
                <thead>
                    <tr class="d-none" data-height="50">
                        <td colspan="3" data-f-sz="20" data-a-h="center" data-a-v="middle" data-f-bold="true">
                            BÁO CÁO PHIẾU CƠM THEO THÁNG
                        </td>
                    </tr>
                    <tr class="d-none" data-height="35">
                        <td id="monthlyReportTimeHeader" colspan="3" data-f-sz="14" data-a-h="center" data-a-v="middle">
                        </td>
                    </tr>
                    <tr>
                        <th id="sortTh" onclick="sortPaginatedTable(0, 'num', skip = 2)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                            <label>STT</label>
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="d-none" id="sortTh" onclick="sortPaginatedTable(3, skip = 2)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Company, "Công ty")
                        </th>
                        <th id="sortTh" onclick="sortPaginatedTable(4, 'num', skip = 2)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Used, "Số phiếu đã dùng")
                            <i class="fa fa-sort"></i>
                        </th>

                    </tr>
                </thead>
                <tbody id="listMonthlyReport">
                </tbody>
                <tr class="d-none">
                    <th colspan="2" data-f-bold="true" data-a-h="center" data-b-a-s='thin'>Tổng số phiếu đã dùng</th>
                    <th id="hiddenTotalUsedMonthly" data-f-bold="true" data-a-h="right" data-t="n" data-b-a-s='thin'></th>
                </tr>
            </table>*@


    </div>
</div>


