﻿@model CanteenValidator.Models.Holiday
@{
    ViewData["Title"] = "Danh sách nghỉ lễ, Tết";
}
<input hidden id="pageNumber" value="3" />
<input hidden id="home" value="0" />
<div id="page-content-wrapper">
    <div class="container px-0 ml-0" style="max-width: 100%; height: 100%;">
        <main class="main-holidays" role="main" style="height: 92.5%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mainwindow holidays-container mx-2 pb-0" style="display: table">

                @*<h2 class="d-flex justify-content-center mt-1 mb-0" style="color:dodgerblue" id="title">
            Danh sách nghỉ lễ, Tết
        </h2>*@

                @*<div style=" right: 0; position:absolute; margin-right:0.5rem; margin-top:0.5rem">*@
                <div class="d-flex justify-content-between">
                    <div class="title" style="align-self:center;">
                        <span class=" pr-1">Tổng số kết quả:</span>
                        <span  id="totalHolidays" style="font-weight:bold;"></span>
                    </div>

                    <button type="button" id="btnShowModal" onclick="AddHoliday()">
                        Thêm ngày nghỉ
                    </button>
                </div>
                <div class="modal fade" tabindex="-1" id="editModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-md" style="text-align:-webkit-center">
                        <div class="modal-content">
                            <div class="modal-header justify-content-between bg-main" style="color: white; font-weight: bold;">
                                <h3 class="modal-title">Nhập thông tin ngày nghỉ</h3>
                                <button type="button" class="close fa fa-close" data-dismiss="modal">
                                </button>
                            </div>

                            <form>
                                <div class="mx-2">
                                    <div class="d-flex justify-content-between pt-2" style="">
                                        <div class="col-6 px-0" style="text-align:start">
                                            <input class="title " type="date" data-date="" data-date-format="DD/MM/YYYY" id="FromDate" style="text-align: center">
                                        </div>
                                        <div class="col-6 px-0" style="text-align:end">
                                            <input class="title " type="date" data-date="" data-date-format="DD/MM/YYYY" id="ToDate" style="text-align: center">
                                        </div>
                                        <input class="d-none" type="number" id="editingId">
                                    </div>
                                    <textarea class="mt-2" rows="3" cols="50" placeholder="Nhập tên ngày nghỉ.." id="Description" style="width:100%; margin:0; padding: 0 0.5rem"></textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnSubmit" class="btn btn-primary button4">OK</button>
                                    <button type="button" id="btnHideModal" class="btn btn-primary button4">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal fade" tabindex="-1" id="loginModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-md" style="text-align:-webkit-center">
                        <div class="modal-content">
                            <div class="modal-header justify-content-between bg-main" style="color: white; font-weight: bold;">
                                <h3 class="modal-title">Nhập mật khẩu đăng nhập nhân sự</h3>
                                <button type="button" class="close fa fa-close" data-dismiss="modal">
                            </div>

                            <form>
                                <div class="m-2">
                                    <input type="password" id="holidaysLogin" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnLogin" class="btn btn-primary button4">OK</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="holidays-table-container">
                    <table class="table p-0 m-0 mt-3 mt-md-2" id="ListTable_Holiday">
                        <thead style="background-color:dimgray; ">
                            <tr>
                                <th class="col-4 col-lg-3" style="text-align: center;" id="sortTh" onclick="sortPaginatedTable(ListTable_Holiday, 0, 'string')">
                                    <label>Ngày nghỉ lễ</label>
                                </th>
                                <th class="col-2" style="text-align: center;">
                                    <label>Bắt đầu</label>
                                </th>
                                <th class="col-2" style="text-align: center;">
                                    <label>Kết thúc</label>
                                </th>
                                <th class="col-1" style="text-align: center;">
                                    <label>Tổng</label>
                                </th>
                                <th class="col-1 " style="text-align: center;" colspan="2">
                                    <label>Thao tác</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="listHolidays">
                        </tbody>

                    </table>
                </div>
                <div class="d-none" id="isEditing">false</div>
            </div>
        </main>
    </div>
</div>

<div id="popup_holiday" class="overlay" style="position:fixed; z-index:10;">
    <div class="popup">
        <h5>Thông báo</h5>
        <a class="close" href="#">&times;</a>
        <h3 class="content" id="content">

        </h3>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="holidayRemoveModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md" style="text-align:-webkit-center">
        <div class="modal-content" style="max-width:450px;">
            <div class="modal-header justify-content-between bg-main">
                <h3 class="modal-title" style="color: white;">Xóa ngày nghỉ</h3>
                <button type="button" class="close fa fa-close" data-dismiss="modal">
                </button>
            </div>

            <form>
                <div id="removeTitle" style="font-size:20px;">
                    Bạn có muốn xóa ngày nghỉ không ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnRemoveYes" class="btn btn-primary button4">OK</button>
                    <button type="button" id="btnRemoveNo" class="btn btn-primary button4">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="~/js/holiday.js"></script>
