﻿@model CanteenValidator.Models.TransactionsViewModel
@{
    ViewData["Title"] = "Trang chủ";
}
<audio id="success_sound" src="~/sounds/insight-578.mp3" preload="auto"></audio>
<audio id="outOfTickets_sound" src="~/sounds/earcon-error-failure.mp3" preload="auto"></audio>
<audio id="invalidId_sound" src="~/sounds/nasty-error-long-366.mp3" preload="auto"></audio>
<input hidden id="home" value="1" />
<input hidden id="pageNumber" value="0" />
<environment include="Development">
    <script src="~/js/transactions.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/transactions.js" asp-append-version="true"></script>
</environment>
@*<div class="d-none d-lg-block border-right bg-white px-0" id="sidebar-wrapper" style="max-width:25%; width: 25%">
        <div class="sidebar-heading border-bottom bg-light p-2">
            Quản lý phiếu ăn
            <img src="~/image/logo1.png" style="width:calc(1.75rem + 1.75vw); height:calc(1.5rem + 1.5vh); margin-left:1rem" />
        </div>

        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-qrcode" asp-area="" asp-controller="Home" asp-action="Index">
                    <span> Kiểm soát phiếu ăn</span>
                </a>
            </div>
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-bar-chart" asp-area="" asp-controller="Home" asp-action="Report">
                    <span>Báo cáo thống kê</span>
                </a>
            </div>
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-search" asp-area="" asp-controller="Home" asp-action="Search">
                    <span>Thống kê giao dịch</span>
                </a>
            </div>
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 fa fa-calendar" asp-area="" asp-controller="Home" asp-action="Holidays">
                    <span>Danh sách nghỉ lễ, Tết</span>
                </a>
            </div>
        </div>
    </div>*@

<div id="page-content-wrapper">
    <div class="container px-0 ml-0" style="max-width: 100%;">
        <main role="main" style="height: 87.5%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>



            <div class="mainwindow row mx-2 ml-0 w-100 pb-0 index-content" style="padding-top:calc(0.25rem + 7.5px)">
                @*<a class="d-none" id="link"></a>
                    <canvas class="d-none" id="canvas" width="640" height="480"></canvas>*@
                @*<div class="col-12 col-lg-3 p-0">

                        <img  src="~/image/user.png" style="padding-left:1vh" id="image" />


                    </div>*@
                <div class="row-none row-md col-12 pr-0" id="row-height">
                    <div class=" align-items-center ml-1 videoContainer">
                        @*<div class="controls">
                            <button id="start">Start Scanning</button>
                            <button id="stop">Stop Scanning</button>
                            </div>*@
                        <div class="videoWrapper">
                            <video style="" class="videoInsert" id="video" autoplay playsinline></video>
                            <div id="qr-shaded-region" style="position: absolute; border-width: 115px 195px; border-style: solid;
                                                        border-color: rgba(0, 0, 0, 0.48); box-sizing: border-box; inset: 0px;">
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px;
                                            top: -5px; left: 0px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px;
                                        top: -5px; right: 0px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px;
                                        top: 100%; left: 0px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 40px; height: 5px;
                                        top: 100%; right: 0px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px;
                                        top: -5px; left: -5px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px;
                                        top: calc(100% - 40px); left: -5px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px;
                                        top: -5px; right: -5px;">
                                </div>
                                <div style="position: absolute; background-color: rgb(255, 255, 255); width: 5px; height: 45px;
                                        top: calc(100% - 40px); right: -5px;">
                                </div>
                            </div>
                            @*<br>
                            <label>
                                <input id="show-scan-region" type="checkbox">
                                Show scan region
                            </label>*@
                        </div>

                        @*<b>Device has camera: </b>
                            <span id="cam-has-camera"></span>
                            <br>
                            <div>
                                <b>Preferred camera:</b>
                                <select id="cam-list">
                                    <option value="environment" selected>Environment Facing (default)</option>
                                    <option value="user">User Facing</option>
                                </select>
                            </div>*@
                        <script>
                            import('/lib/qr-scanner/qr-scanner.min.js').then((module) => {
                                const QrScanner = module.default;
                                // do something with QrScanner

                                QrScanner.WORKER_PATH = '/lib/qr-scanner/qr-scanner-worker.min.js';

                                const video = document.getElementById('video');
                                //const camHasCamera = document.getElementById('cam-has-camera');
                                //const camList = document.getElementById('cam-list');
                                //const start = document.getElementById('start');
                                //const stop = document.getElementById('stop');

                                const qrScanner = new QrScanner(video, addTransactions);

                                //var handleSuccess = function (stream) {
                                //    player.srcObject = stream;
                                //};

                                //QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
                                qrScanner.start()

                                //start.addEventListener('click', event => {
                                //    qrScanner.start().then(() => {
                                //        // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
                                //        // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
                                //        // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
                                //        // start the scanner earlier.
                                //        //QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
                                //        //    const option = document.createElement('option');
                                //        //    option.value = camera.id;
                                //        //    option.text = camera.label;
                                //        //    camList.add(option);
                                //        //}));
                                //    });
                                //});

                                //stop.addEventListener('click', event => {
                                //    qrScanner.stop();
                                //});

                                //document.getElementById('show-scan-region').addEventListener('change', (e) => {
                                //    const input = e.target;
                                //    const label = input.parentNode;
                                //    label.parentNode.insertBefore(qrScanner.$canvas, label.nextSibling);
                                //    qrScanner.$canvas.style.display = input.checked ? 'block' : 'none';
                                //});

                                //camList.addEventListener('change', event => {
                                //    qrScanner.setCamera(event.target.value);
                                //});
                            });
                        </script>
                    </div>
                    <div class="row pl-0 align-self-center d-flex info-container">
                        <div class="col-12 h2">
                            <span class="h2" id="name">Họ và tên</span>
                        </div>
                        <div class="col-12 info">
                            <span id="company">Công ty</span>
                        </div>
                        <div class="col-12 info">
                            <span id="department">Phòng ban</span>
                        </div>
                        <div class="col-12 info">
                            Giao dịch lúc
                            <span id="checkDate"></span>
                        </div>
                        @*<div class="col-12 info">
                                Còn lại
                                <span class="h2" id="available" style="font-weight:bold; color:orangered;"> x </span>
                                phiếu
                            </div>*@
                    </div>
                </div>
                <div class="col-12 col-md-auto pb-0" id="table-height">
                    @Html.Hidden("RedirectTo", Url.Action("Search", "Home"))
                    @*<div class="d-block d-sm-none w-100" style="border-bottom: 2px solid black"></div>
                        <div class="d-none d-sm-block" style="border-left: 2px solid black;"></div>*@
                    <div class="d-sm-block col m-sm-0 p-0 mb-0" style="height:100%;">
                        <div class="`flex justify-content-between" id="ListIndex_Title" style="margin-bottom: calc(0.25rem + 7.5px)">
                            @*<div class=" px-0">
                                    <span class="pl-0 pr-0 title">
                                        10 giao dịch gần nhất
                                    </span>
                                </div>*@
                            <div class="pl-0" style="align-self:center">

                                @*<em class="dot_green" style="padding-left:30px; margin-left:20px; color:green;" id="videoStatus">Online</em>*@
                                <span class="pl-2 pr-1 info ">Tổng số phiếu trong ngày:</span>
                                <span class="info " id="totalUsed_I" style="font-weight:bold;"></span>
                            </div>
                        </div>
                        <div class="p-0 table-container" style="border: 2px solid #254b8b;">
                            <table class="table data_table p-0 mb-0" id="ListIndex" style="height: auto;">
                                <thead>
                                    <tr>
                                        <th class="col-2">
                                            @Html.LabelFor(model => Model.Company)
                                        </th>
                                        <th class="col-6">
                                            @Html.LabelFor(model => model.Name)
                                        </th>
                                        <th class="col-2">
                                            @Html.LabelFor(model => model.Date)
                                        </th>
                                        @*<th class="p-2">
                                                @Html.LabelFor(model => model.Used, "Số phiếu đã dùng")
                                            </th>*@
                                        @*<th class="col-2" style="text-align: end; border-bottom: 2px solid black">
                                                @Html.LabelFor(model => model.Available)
                                            </th>*@
                                        @*<th class="p-2">
                                                @Html.LabelFor(model => model.Type, "Đối tượng")
                                            </th>*@
                                    </tr>
                                </thead>
                                <tbody id="listTransactions" style="font-size:90%">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="col-1" style="right:0; position:absolute; margin:0 auto">
    <div>
        <!-- Modal -->
        <div class="modal fade" tabindex="-1" id="selectCounterModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-md" style="text-align:center">
                <div class="modal-content" style="max-width:50%; margin:0 auto">
                    <div class="modal-header justify-content-between border-0">
                        <h4 class="modal-title" style="text-align:center;width:100%">Chọn quầ   y canteen</h4>
                    </div>
                    <div class="row">
                        <div style="width:50%">
                            <button type="button" onclick="SetCounter(1)" id="btnHideModal" class="btn btn-primary button4" style="width: 80%;">
                                Quầy 1
                            </button>
                        </div>
                        <div style="width:50%">

                            <button type="button" data-dismiss="modal" onclick="SetCounter(2)" class="btn btn-primary button4" style="width: 80%;">
                                Quầy 2
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup_announce" class="overlay" style="position:fixed; z-index:10;">
    <div class="popup">
        <h2>Thông báo</h2>
        <a class="close" href="#">&times;</a>
        <div class="content" id="content_announce">
        </div>
    </div>
</div>
<div id="popup_loading" class="overlay" style="position:fixed; z-index:10;">
    <div class="popup">
        <h2>Đang xử lý phiếu ăn</h2>
        <a class="close" href="#">&times;</a>
        <div class="loader"></div>
    </div>
</div>
