﻿@*@model IEnumerable<CanteenValidator.Models.Staff>*@

@{
    ViewData["Title"] = "ListStaff";

}
@model CanteenValidator.Models.SearchModel
<input hidden id="pageNumber" value="3" />
<div id="page-content-wrapper">
    <div class="container px-0 ml-0" style="max-width: 100%; height: 100%;">
        <main role="main" style="height: 92.5%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mainwindow mx-2 pb-0" id="listStaff">

                <div class=" col-12 pb-3 px-0 row">

                    <div class="col-6 col-md-2 form-group pr-0 pl-0 pr-md-2">
                        <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedCompanyCode)"
                                asp-items="@(new SelectList(Model.SearchViewModel.Companies, "Code", "Name"))" id="Companies">
                            <option value="">Tất cả công ty</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-3 form-group pr-0 pl-1 px-md-2">
                        <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedDepartmentCode)"
                                asp-items="@(new SelectList(Model.SearchViewModel.Departments, "Code", "Name"))" id="Departments">
                            <option value="">Tất cả phòng ban</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-3 form-group pr-0 pl-1 px-md-2">
                        <input type="text" class="form-control p-1" placeholder="Nhập tên nhân viên" id="StaffName" />
                    </div>
                    <div class="col-3 col-md-2 form-group pr-0 pl-1 px-md-2">
                        <button style="width: 100%;" id="btnShowModal" onclick="AddStaff()">
                            <i class="fa fa-user-plus"></i> Thêm
                        </button>
                    </div>
                    <div class="col-3 col-md-2 form-group pr-0 pl-1 pl-md-2">

                        <button style="width: 100%;">
                            <a asp-controller="Home" asp-action="CreateQRCodeAll" style="color: white">Xuất QRCode</a>
                        </button>
                    </div>

                </div>

                <table class="table" id="ListTable">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tên nhân viên
                            </th>
                            <th>
                                Định danh
                            </th>


                            <th>
                                Công ty
                            </th>
                            <th>
                                Phòng ban
                            </th>
                            <th>
                                In QRCode
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="listSearch">
                    </tbody>
                </table>

                @*<select class="form-control col-3 p-1" id="listCompany">
                    </select>
                    <div class="col-1"></div>
                    <select class="form-control col-3 p-1" id="listDepartment">
                    </select>*@
            </div>

            <div class="modal fade" tabindex="-1" id="editModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-md" style="text-align:-webkit-center">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between bg-main" style="color: white; font-weight: bold;">
                            <h3 class="modal-title">Thông tin nhân viên</h3>
                            <button type="button" class="close fa fa-close" data-dismiss="modal">
                            </button>
                        </div>

                        <form class="needs-validation" id="staff-form" enctype="multipart/form-data" novalidate>
                            <div class="form-group row">
                                <label for="name" class="col-md-3 col-form-label">Họ và tên</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="name" placeholder="Họ tên..." name="name" required>
                                    <div class="invalid-tooltip">
                                        Vui lòng nhập họ và tên.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="companyID" class="col-md-3 col-form-label">Công ty</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="companyID" asp-for="@(Model.SearchViewModel.SelectedCompanyCode)"
                                            asp-items="@(new SelectList(Model.SearchViewModel.Companies, "Code", "Name"))" name="companyID" required>
                                        <option value="">Tất cả công ty</option>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Vui lòng chọn công ty.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="departmentID" class="col-md-3 col-form-label">Phòng ban</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="departmentID" asp-for="@(Model.SearchViewModel.SelectedDepartmentCode)"
                                            asp-items="@(new SelectList(Model.SearchViewModel.Departments, "Code", "Name"))" name="departmentID" required>
                                        <option value="">Tất cả phòng ban</option>
                                    </select>
                                    <div class="invalid-tooltip">
                                        Vui lòng nhập phòng ban.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-md-3 col-form-label">Chức vụ</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="role" placeholder="Chức vụ..." name="role" required>
                                    <div class="invalid-tooltip">
                                        Vui lòng nhập chức vụ.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="startOfDate" class="col-md-3 col-form-label">Bắt đầu làm</label>
                                <div class="col-md-8">
                                    <input class="form-control input-date" data-date="" data-date-format="DD/MM/YYYY" type="date" id="startOfDate" name="startOfDate">
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-form-label col-md-3 pt-0">Loại định danh</label>
                                    <div class="col-md-8 row">
                                        <div class="form-check inline">
                                            <input class="form-check-input" type="radio" name="staffType" id="select-id" value=0>
                                            <label class="form-check-label" for="gridRadios2">
                                                CMND/CCCD
                                            </label>
                                        </div>
                                        <div class="form-check inline" style="margin-left: 17.5%">
                                            <input class="form-check-input" type="radio" name="staffType" id="select-email" value=1 checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                Email
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group row" id="choice-email">
                                <label for="email" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="email" placeholder="Email..." name="email" required>
                                    <div class="invalid-tooltip">
                                        Vui lòng điền đúng thông tin (email).
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-none" id="choice-id">
                                <label for="id" class="col-md-3 col-form-label">CMND/CCCD</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="id" placeholder="CMND/CCCD..." name="id">
                                    <div class="invalid-tooltip">
                                        Vui lòng không để trống mục này.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
    </div>
    </main>
</div>
</div>

<div id="popup_announce" class="overlay" style="position:fixed; z-index:10;">
    <div class="popup">
        <h2>Thông báo</h2>
        <a class="close" href="#">&times;</a>
        <div class="content" id="content">

        </div>

    </div>
</div>
<div class="modal fade" tabindex="-1" id="staffCheck"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md" style="text-align:-webkit-center">
        <div class="modal-content" style="max-width:450px;">
            <div class="modal-header justify-content-between bg-main">
                <h3 class="modal-title" id="announceHeader" style="color: white;">Thêm nhân viên</h3>
                <button type="button" class="close fa fa-close" data-dismiss="modal">
                </button>
            </div>

            <form>
                <div id="announceTitle" style="font-size:20px;">
                    Xác nhận thêm nhân viên ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnConfirm" class="btn btn-primary button4">OK</button>
                    <button type="button" id="btnCancel" class="btn btn-primary button4">
                        Hủy
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<input class="d-none" type="number" id="editingId">

<environment include="Development">
    <script src="~/js/list-staff.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/list-staff.js" asp-append-version="true"></script>
</environment>