﻿<input hidden id="home" value="0" />
@{
    ViewData["Title"] = "Báo cáo";
}
<input hidden id="pageNumber" value="1" />

<div id="page-content-wrapper">
    <div class="container px-0 ml-0" style="max-width: 100%;">
        <main role="main" style="height: 100%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
                @*<div style="height: 10px; min-height: 10px; background-color: #254b8b; height: 1.5vh"></div>*@
            </div>

            <div class="mainwindow mx-2 mt-2 pb-0" id="report-container">
                @*<h2 class="d-flex justify-content-center mt-1 mb-0" style="color:dodgerblue">BÁO CÁO THỐNG KÊ</h2>*@
                <div>
                    <ul class="nav nav-tabs justify-content-start" style="border-bottom:solid 2px black">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="StaffReport"
                               href="#StaffReport">Báo cáo theo nhân viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="CompanyReport"
                               href="#CompanyReport">Báo cáo theo công ty</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="StaffReport" role="tabpanel" aria-labelledby="home-tab">

                    </div>
                    <div class="tab-pane fade" id="CompanyReport" role="tabpanel" aria-labelledby="profile-tab">

                    </div>

                </div>
            </div>
        </main>
    </div>
</div>

<script>
    $(function () {
        $.ajax({
            url: "/Home/StaffReport",
            type: "get",
            success: function (result) {
                $("#StaffReport").html(result);
            }
        })

        $.ajax({
            url: "/Home/CompanyReport",
            type: "get",
            success: function (result) {
                $("#CompanyReport").html(result);
            }
        })

    })

    function firstCompleted() {
        $('a[href="#StaffReport"]').tab('show');
    }
    function secondCompleted() {
        $('a[href="#CompanyReport"]').tab('show');
    }

</script>

