﻿@{
    ViewData["Title"] = "Tra cứu";
}
@model CanteenValidator.Models.SearchModel    
<environment include="Development">
    <script src="~/js/search.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/search.js" asp-append-version="true"></script>
</environment>
<input hidden id="pageNumber" value="2" />
<input hidden id="home" value="0" />
<div id="page-content-wrapper">
    <div class="container pb-0 px-0 ml-0" style="max-width: 100%;">
        <main role="main" style="height: 100%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mainwindow mx-2 h-100">
                @*<h2 class="d-flex justify-content-center mt-1 mb-0" style="color:dodgerblue">THỐNG KÊ GIAO DỊCH</h2>*@
                <div class="py-2" style="background-color:white;">
                    <div class="row justify-content-between">
                        <div class="col-6 col-md-2 form-group pl-0 pr-1 pr-md-2">
                            <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedCompanyCode)"
                                    asp-items="@(new SelectList(Model.SearchViewModel.Companies, "Code", "Name"))" id="Companies">
                                <option value="">Tất cả công ty</option>
                            </select>
                        </div>

                        <div class="col-6 col-md-3 form-group pr-0 pl-1 pl-md-2 pr-md-3">
                            <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedDepartmentCode)"
                                    asp-items="@(new SelectList(Model.SearchViewModel.Departments, "Code", "Name"))" id="Departments">
                                <option value="">Tất cả phòng ban</option>
                            </select>
                        </div>
                        <div class="autocomplete col-12 col-md-3 form-group px-0 pr-md-3" style="line-height: calc(1.7rem + 0.5vw + 0.5vh)">
                            <input class="form-control" type="text" placeholder="Tìm kiếm họ tên.." id="StaffName" value="@Model.SearchViewModel.SelectedNameCode">
                            @*@Html.DropDownListFor(x => Model.SearchViewModel.SelectedNameCode, new SelectList(Model.SearchViewModel.StaffNames, "Code", "Name"), htmlAttributes: new { @class = "form-control", id = "StaffNames" })
                                @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedNameCode, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="col-6 col-md-2 form-group pl-0 pr-1 pr-md-2">
                            <input class="form-control input-date" data-date="" data-date-format="DD/MM/YYYY" type="date" id="FromDate">
                        </div>
                        <div class="col-6 col-md-2 form-group pr-0 pl-1 pl-md-2">
                            <input class="form-control input-date" data-date="" data-date-format="DD/MM/YYYY" type="date" id="ToDate">
                        </div>
                        @*<div class="col-6 col-md-2 form-group pr-0">
                                @Html.DropDownListFor(x => x.SearchViewModel.SelectedYearCode, Model.SearchViewModel.Years, htmlAttributes: new { @class = "form-control", id = "Years" })
                                @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedYearCode, "", new { @class = "text-danger" })
                            </div>*@
                    </div>
                    @*<div class="row d-flex justify-content-end">*@
                    @*<div class="col-4 col-md-2 mb-0">
                            @Html.DropDownListFor(x => x.SearchViewModel.SelectedTypeCode, new SelectList(Model.SearchViewModel.Types, "Code", "Name"), htmlAttributes: new { @class = "form-control", id = "Types" })
                            @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedTypeCode, "", new { @class = "text-danger" })
                        </div>*@
                    @*<button type="submit" class="btn-change px-2">Tìm</button>*@
                    <div class="d-flex justify-content-between">
                        <div class="title pl-0" style="align-self:center;">
                            <span class="pr-1">Tổng số phiếu đã dùng:</span>
                            <span id="totalTransactions" style="font-weight:bold;"></span>
                        </div>
                        <div class=" px-0" style="margin-left:auto; display:flex;">
                            <button type="button" onclick="getStaffReport()" style="width:100%; line-height: initial">
                                <i class="fa fa-file-excel-o"></i>
                                Xuất Excel
                            </button>
                            @*<button type="button" class="col-6 col-md ml-2" onclick="getDailyReport()">
                                    <i class="fa fa-line-chart"></i>
                                    Báo cáo ngày
                                </button>*@
                        </div>
                    </div>
                    @*</div>*@
                </div>

                @*<h5 class="p-2">Danh sách kết quả</h5>*@
                <div class="tableSearch">
                    <table class="table p-0 m-0 align-self" id="ListTable" data-cols-width="7, 15, 15, 30, 25">
                        <thead style="background-color:dimgray; ">
                            <tr class="d-none" data-height="50">
                                <td colspan="5" data-f-sz="20" data-a-h="center" data-a-v="middle" data-f-bold="true">
                                    BÁO CÁO THỐNG KÊ GIAO DỊCH
                                </td>
                            </tr>
                            <tr class="d-none" data-height="35">
                                <td id="StatisticsReportTimeHeader" colspan="5" data-f-sz="14" data-a-h="center" data-a-v="middle">
                                </td>
                            </tr>
                            <tr>
                                <th style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                    <label>STT</label>
                                </th>
                                <th id="sortTh" onclick="sortPaginatedTable('ListTable', 1, 'string', 2)" style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                    <label id="sortTh">Công ty</label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                <th id="sortTh" onclick="sortPaginatedTable('ListTable', 2, 'string', 2)" style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                    <label id="sortTh">Phòng ban</label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                <th id="sortTh" onclick="sortPaginatedTable('ListTable', 3, 'string', 2)" style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                    <label id="sortTh">Họ và tên</label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                @*<th id="sortTh" onclick="sortPaginatedTable(3, 'num')">
                                        @Html.LabelFor(model => model.TransactionsViewModel[0].Used, "Số phiếu đã dùng")
                                        <i class="fa fa-sort"></i>
                                    </th>
                                    <th class="d-none d-md-table-cell" id="sortTh" onclick="sortPaginatedTable(4, 'num')">
                                        @Html.LabelFor(model => model.TransactionsViewModel[0].Available, " Số phiếu còn lại")
                                        <i class="fa fa-sort"></i>
                                    </th>*@
                                @*<th id="sortTh" onclick="sortPaginatedTable(5)">
                                        @Html.LabelFor(model => model.TransactionsViewModel[0].Type, "Đối tượng")
                                        <i class="fa fa-sort"></i>
                                    </th>*@
                                <th id="sortTh" onclick="sortPaginatedTable('ListTable', 4, 'string', 2)" style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                    <label id="sortTh">Thời gian</label>
                                    <i class="fa fa-sort"></i>
                                </th>
                                @*<th class="d-none d-md-table-cell" style=" border-bottom: 2px solid black" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                                        <label id="sortTh">Số phiếu còn lại</label>
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody id="listSearch">
                        </tbody>
                    </table>

                </div>
            </div>
        </main>
    </div>
</div>

