﻿@{
    ViewData["Title"] = "Báo cáo";
    Layout = "";
}
@model CanteenValidator.Models.SearchModel
<environment include="Development">
    <script src="~/js/staff-report.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/staff-report.js" asp-append-version="true"></script>
</environment>
<div>
    <div class="py-2" style="background-color:white;">
        <div class="row justify-content-between">
            <div class="col-6 col-md-2 form-group pl-0 pr-1 pr-md-2">
                <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedCompanyCode)"
                        asp-items="@(new SelectList(Model.SearchViewModel.Companies, "Code", "Name"))" id="Companies_S">
                    <option value="">Tất cả công ty</option>
                </select>
            </div>
            <div class="col-6 col-md-3 pl-1 pr-0 pr-md-2 pl-md-2 form-group">
                <select class="form-control" asp-for="@(Model.SearchViewModel.SelectedDepartmentCode)"
                        asp-items="@(new SelectList(Model.SearchViewModel.Departments, "Code", "Name"))" id="Departments_S">
                    <option value="">Tất cả phòng ban</option>
                </select>
            </div>
            @*<div class="col-4 col-md-2 form-group">
                    @Html.DropDownListFor(x => x.SearchViewModel.SelectedTypeCode, new SelectList(Model.SearchViewModel.Types, "Code", "Name"), htmlAttributes: new { @class = "form-control", id = "Types" })
                    @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedTypeCode, "", new { @class = "text-danger" })
                </div>*@
            <div class="col-6 col-md-3 pl-0 pr-1 pl-md-2 pr-md-2 form-group">
                <input class="form-control input-date" data-date="" data-date-format="DD/MM/YYYY" type="date" id="FromDate_S">
                @*@Html.DropDownListFor(x => x.SearchViewModel.SelectedMonthCode, Model.SearchViewModel.Months, htmlAttributes: new { @class = "form-control", id = "Months" })
                    @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedMonthCode, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-6 col-md-3 pl-1 pr-0 pl-md-2 form-group">
                <input class="form-control input-date" data-date="" data-date-format="DD/MM/YYYY" type="date" id="ToDate_S">
                @*@Html.DropDownListFor(x => x.SearchViewModel.SelectedYearCode, Model.SearchViewModel.Years, htmlAttributes: new { @class = "form-control", id = "Years" })
                    @Html.ValidationMessageFor(x => x.SearchViewModel.SelectedYearCode, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="title" style="align-self:center;">
                <span class="pr-1">Tổng số phiếu đã dùng:</span>
                <span id="totalUsed_S" style="font-weight:bold;"></span>
            </div>
            <div style="margin-left:auto; display:flex;">
                <button type="button" onclick="exportStaffReport()">
                    <i class="fa fa-file-excel-o"></i>
                    Xuất Excel
                </button>
            </div>
        </div>
        @*<div class="d-none">
                <span class="pr-1">Tổng số phiếu còn lại:</span>
                <span id="totalAvailable_S"></span>
            </div>*@
    </div>
    @*<h5 class="p-2">Danh sách kết quả</h5>*@
    <div>
        <table class="table p-0 m-0" id="ListTable_S" data-cols-width="7,15,15,30,17.5">
            <thead style="background-color:dimgray; ">
                <tr class="d-none" data-height="50">
                    <td colspan="5" data-f-sz="20" data-a-h="center" data-a-v="middle" data-f-bold="true">
                        BÁO CÁO PHIẾU CƠM THEO NHÂN VIÊN
                    </td>
                </tr>
                <tr class="d-none" data-height="35">
                    <td id="staffReportTimeHeader" colspan="5" data-f-sz="14" data-a-h="center" data-a-v="middle">
                    </td>
                </tr>
                <tr>
                    <th class="col-1" style="max-width: 5%;" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label>STT</label>
                    </th>
                    <th class="col-1" style="max-width: 11%" id="sortTh" onclick="sortPaginatedTable('ListTable_S', 1, 'string', 2, 1)" data-exclude='false' data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label id="sortTh">Công ty</label>
                        <i class="fa fa-sort"></i>
                    </th>
                    <th id="sortTh" class="col-3" onclick="sortPaginatedTable('ListTable_S', 2, 'string', 2, 1)" data-exclude='false' data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label id="sortTh">Phòng ban</label>
                        <i class="fa fa-sort"></i>
                    </th>
                    <th id="sortTh" class="col-3" onclick="sortPaginatedTable('ListTable_S', 3, 'string', 2, 1)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label id="sortTh">Họ và tên</label>
                        <i class="fa fa-sort"></i>
                    </th>
                    <th class="col-2" style="max-width:17.699%" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label>Số phiếu đã dùng</label>
                    </th>
                    @*<th class="col-2" data-exclude="true" data-a-h="center" data-f-bold="true">
                            <label>Số phiếu còn lại</label>
                        </th>*@
                    @*<th data-exclude="true" id="sortTh" onclick="sortPaginatedTable(6, skip = 2)" data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                            @Html.LabelFor(model => model.TransactionsViewModel[0].Type, "Đối tượng")
                            <i class="fa fa-sort"></i>
                        </th>*@
                    @*<th class="d-none">Tổng số phiếu khả dụng</th>
                        <th class="d-none" id="hiddenTotalAvailable"></th>*@
                </tr>
            </thead>
            <tbody id="listReport_S">
            </tbody>
            <tr class="d-none">
                <th colspan="4" data-f-bold="true" data-a-h="center" data-b-a-s='thin'>Tổng số phiếu đã dùng</th>
                <th id="hiddenTotalUsed_S" data-f-bold="true" data-a-h="right" data-t="n" data-b-a-s='thin'></th>
            </tr>
        </table>
        <table class="d-none" id="MonthlyReportTable" data-cols-width="10,30,25">
            <thead>
                <tr data-height="50">
                    <td colspan="3" data-f-sz="20" data-a-h="center" data-a-v="middle" data-f-bold="true">
                        BÁO CÁO PHIẾU CƠM THEO THÁNG
                    </td>
                </tr>
                <tr data-height="35">
                    <td id="monthlyReportTimeHeader" colspan="3" data-f-sz="14" data-a-h="center" data-a-v="middle">
                    </td>
                </tr>
                <tr>
                    <th data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        <label>STT</label>
                    </th>
                    <th data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        @Html.LabelFor(model => model.TransactionsViewModel[0].Company, "Công ty")
                    </th>
                    <th data-a-h="center" data-f-bold="true" data-b-a-s="thin">
                        @Html.LabelFor(model => model.TransactionsViewModel[0].Used, "Số phiếu đã dùng")
                    </th>

                </tr>
            </thead>
            <tbody id="listMonthlyReport">
            </tbody>
            <tr class="d-none">
                <th colspan="2" data-f-bold="true" data-a-h="center" data-b-a-s='thin'>Tổng số phiếu đã dùng</th>
                <th id="hiddenTotalUsedMonthly" data-f-bold="true" data-a-h="right" data-t="n" data-b-a-s='thin'></th>
            </tr>
        </table>

    </div>
</div>
