﻿@model CanteenValidator.Models.Holiday

<body style="background-color:#ffd800">
    <h2 class="d-flex justify-content-center mt-1 mb-0" style="color:dodgerblue">
        Danh sách số ngày đi làm trong tháng
        <div style="right:0; position:absolute; margin-right:0.5rem;">
            @*<div>
                <button id="btnShowModal" type="button"
                        class="btn border-dark">
                    Thêm ngày nghỉ
                </button>
                <div class="modal fade" tabindex="-1" id="loginModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg" style="text-align:-webkit-center">
                        <div class="modal-content" style="max-width:450px;">
                            <div class="modal-header justify-content-between">
                                <h4 class="modal-title">Nhập thông tin ngày nghỉ</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    ×
                                </button>
                            </div>

                            <form>
                                <div class="ml-1" style="font-size:20px; margin-right:1rem">
                                    <input type="date" id="fromDate">
                                    <input type="date" id="toDate">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnSubmit" class="btn btn-primary button4">OK</button>
                                    <button type="button" id="btnHideModal" class="btn btn-primary button4">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>*@


        </div>
    </h2>
    <table class="table p-0 m-0 mt-2" style="border-bottom:2px solid black">
        <thead style="background-color:dimgray; ">
            <tr>
                <th  style="text-align: end; border-top:2px solid black; border-bottom:2px solid black">
                    <label>Tháng</label>
                </th>
                <th  style="text-align: end; border-top:2px solid black; border-bottom: 2px solid black">
                    <label>Số ngày làm việc</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 12; i++)
            {
                <tr>
                    <td style="text-align: center;">
                        @(i+1)
                    </td>
                    <td style="text-align: center;">
                        @ViewBag.WorkDays[i].WorkDays
                    </td>
                </tr>
            }
        </tbody>

    </table>

</body>

