﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Quản lý phiếu ăn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <script src="~/lib/table-to-excel/tableToExcel.js"></script>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/all.css">
        <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/fontawesome.css">
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/moment/moment.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/all.min.css">
        <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/fontawesome.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>
<body class="mb-0" style="background-color:white;">
    <div class="d-flex" id="wrapper">
        <!-- Page content-->
        <ul class="navbar-nav bg-main sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Close Button - Mobile-->
            <button id="sidebarToggleTop" class="dropbtn d-md-none mr-3" style="padding-left: 1rem; align-self: end">
                <i class="fa fa-arrow-left"></i>
            </button>

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-none d-md-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                @*<div class="sidebar-brand-icon">
                        <img src="~/image/logo.png" style="width:calc(1.75rem + 1.75vw); height:calc(1.6rem + 1.6vh);" />
                    </div>*@
                <div class="sidebar-brand-text mx-1" style="font-weight: bold!important">Quản lý phiếu ăn</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" onclick="activatePage(0)">
                    <i class="fa fa-qrcode" style="color:white"></i>
                    <span style="color:white">Kiểm soát phiếu ăn</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Report" onclick="activatePage(1)">
                    <i class="far fa-chart-bar" style="color:white; transform: scale(-1, 1) rotate(-90deg)"></i>
                    <span style="color:white">Báo cáo thống kê</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Search" onclick="activatePage(2)">
                    <i class="fa fa-search" style="color:white"></i>
                    <span style="color:white">Thống kê giao dịch</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="staffListLink" asp-area="" asp-controller="Home" asp-action="ListStaff" onclick="activatePage(3)">
                    <i class="fa fa-user" style="color:white"></i>
                    <span style="color:white">Danh sách nhân viên</span>
                </a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Holidays" onclick="activatePage(3)">
                        <i class="fa fa-calendar" style="color:white"></i>
                        <span style="color:white">Danh sách nghỉ lễ, Tết</span>
                    </a>
                </li>*@



            <!-- Nav Item - Tables -->
            <!--<li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>-->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-md-flex" style="bottom: 4.5vh; position: absolute">
                <p id="short" class="text-center mb-2"><strong>v0.0.3</strong></p>
                <p id="long" class="text-center mb-2"><strong>version 0.0.3</strong></p>
            </div>

        </ul>

        @RenderBody()
    </div>
    <footer id="footer" class="border-top footer text-muted align-content-start">
        <div class="row d-flex justify-content-between font-main">
            <div class="p-0 row"></div>
            <div class="p-0">
                <time class="mr-3 fa fa-clock-o">  </time>
            </div>
        </div>

    </footer>
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md" style="text-align:-webkit-center">
            <div class="modal-content">
                <div class="modal-header justify-content-between bg-main" style="color: white; font-weight: bold;">
                    <h3 class="modal-title">Nhập mật khẩu đăng nhập nhân sự</h3>
                    <button type="button" class="close fa fa-close" data-dismiss="modal">
                </div>

                <form>
                    <div class="m-2">
                        <input type="password" id="staffListLogin" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnLogin" class="btn btn-primary button4">OK</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div id="popup_login" class="overlay" style="position:fixed; z-index:10;">
        <div class="popup">
            <h5>Thông báo</h5>
            <a class="close" href="#">&times;</a>
            <h3 class="content" id="content_login">
            </h3>
        </div>
    </div>

    <environment include="Development">
        <script src="~/js/shared/sidebar.js"></script>
        <script src="~/js/shared/sort-table.js"></script>
        <script src="~/js/shared/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/canteen.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
