﻿@page
<input hidden id="home" value="0" />
@{
    ViewBag.Title = "Not Found";
}
<div id="page-content-wrapper">
    <div class="container pb-0 px-0 ml-0" style="max-width: 100%;">
        <main role="main" style="height: 100%">
            <div class="d-block d-md-none header">

                <div class="row px-1 px-md-3 mr-0">
                    <div class="dropdown" style="width:100%;">
                        <button id="sidebarToggleTop" class="dropbtn dropopen d-md-none mr-3">
                            <i class="fa fa-bars"></i>
                            <span>Quản lý phiếu ăn</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mainwindow mx-2 h-100">
                <h3>Đã có lỗi xảy ra, xin lỗi vì vấn đề này, đội ngũ admin sẽ sửa chữa trường hợp này sớm nhất có thể</h3>
                <hr />
                <h5>Hãy liên hệ với chúng tôi qua abc@itd.com.vn</h5>
                <div hidden id="errorMessage">
                    @ViewBag.ExceptionMessage
                </div>
            </div>
        </main>
    </div>
</div>

