﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-size: 100%;
    font-family: Arial;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #254b8b;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: calc(0.5rem + 0.5vw);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*line-height: initial;*/
    color: #254b8b;
    margin-bottom: 4vh;
}

.footer {
    border-top: 2px solid #254b8b !important;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 4vh;
    padding-left: calc(0.5rem + 5px) !important;
}

@media (min-width: 768px)
{
    .footer {
        padding-left: 0.5rem !important;
    }
}

label {
    display: inline;
    margin-bottom: 0 !important;
    padding: 0 0.5rem;
}


.dropdown {
    display: flex;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

a.fa {
    color: #254b8b !important;
}

.table {
    color: #254b8b;
}

.table td, .table th {
    padding: 0 ;
}

table label{
    padding: 0;
}

th {
    color: white;
    background-color: #254b8b;
    margin: auto;
    padding-bottom: .25rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: calc(0.5rem + 0.75vw + 0.4vh);
}

td {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    /*    padding-top: calc(0.25rem + 0.2vh) !important;
    padding-bottom: calc(0.25rem + 0.2vh) !important;*/
    font-size: calc(0.5rem + 0.25vw + 0.4vh);
    vertical-align: middle !important;
}

#listTransactions td {
/*    padding: 0.5rem !important;
*/    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
    font-size: calc(0.5rem + 0.75vw + 0.3vh);
}

#listHolidays td {
    padding: 0.5rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: calc(0.5rem + 0.75vw + 0.5vh);
}

#report-container td {
    padding: 0.5rem !important;
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
    font-size: calc(0.5rem + 0.75vw + 0.5vh);
}

#report-container th {

/*    padding-bottom: .25rem !important;
*/    text-align: center !important;
    vertical-align: middle !important;
    font-size: calc(0.25rem + 1vw + 0.5vh);
}

#ListTable_Holiday {
    height: 70vh;
    border: 2px solid #254b8b;
    table-layout: fixed;
    /*    margin-bottom: 5.5rem !important;
*/
}

#ListTable_Holiday label, #ListIndex label{
    display: block;
}

#ListTable_Holiday th{
    padding: 0.25rem 0.25rem !important;
}

#listHolidays i {
    font-size: calc(0.5rem + 0.75vw + 0.75vh);
}

#ListIndex th {
    top: -0.1rem;
    position: sticky;
}

#ListIndex tbody tr {
    line-height: 4vh;
}

thead {
    line-height: 2vh;
    height: 5vh !important;
}

@media (min-width: 768px)
{
    thead {
        line-height: 2rem;
    }
    td {
        padding: 0.5rem !important;
        padding-top: calc(0.25rem + 0.15vh) !important;
        padding-bottom: calc(0.25rem + 0.15vh) !important;
        font-size: calc(0.5rem + 0.7vw + 0.4vh);
    }
    #listHolidays td {
        padding: 0.5rem !important;
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
        font-size: calc(0.5rem + 0.7vw + 0.4vh);
    }

    #listHolidays i {
        font-size: calc(0.5rem + 1vw + 1vh);
    }

    #report-container td {
        padding: 0.5rem !important;
        padding-top: 0.15rem !important;
        padding-bottom: 0.15rem !important;
        font-size: calc(0.5rem + 0.75vw + 0.4vh);
    }

    #report-container th {
/*        padding-bottom: .25rem !important;
*/        text-align: center !important;
        vertical-align: middle !important;
        font-size: calc(0.25rem + 1vw + 0.4vh);
    }
    #ListTable_Holiday {
        height: 77.5vh;
    }

    #ListTable_Holiday th {
        padding: 1rem 0.5rem !important;
    }

    @media(min-height: 768px){
        #ListTable_Holiday {
            height: 82.5vh;
        }
    }

    #ListIndex tbody tr {
        height: 8vh;
    }
}

/*@media (min-width: 576px) {
    #listSearch td, #listReport td {
        font-size: 16px;
    }

    th {
        font-size: 18px;
    }
}

@media (min-width: 1920px) {

    #listSearch td, #listReport td {
        font-size: 20px;
    }

    th {
        font-size: 24px;
    }
}
*/
td {
    border-left: 2px solid #5d8bd5;
    border-right: 2px solid #5d8bd5;
}

th {
    border-left: 2px solid #5d8bd5;
    border-right: 2px solid #5d8bd5;
    border-top: 2px solid #254b8b !important;
    border-bottom: 2px solid #254b8b !important;
}

tbody tr:nth-child(odd) {
    background-color: rgba(37,75,139,0.25);
}

tr:nth-child(even) {
    background-color: white;
}

#sortTh {
    cursor: pointer;
}

time::after {
    content: var(--text);
    color: #254b8b;
    font-family: Arial;
    font-weight: bold;
    margin-left: 0px;
}

.tableFixHead {
    display: inline-table;
    height: 50%;
    overflow: scroll;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}



.videoInsert {
    padding-top: 0 !important;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.videoWrapper {
/*    position: inherit;
*/    padding-bottom: 0; /* 16:9 */
/*    height: 50%;
*/}

.videoContainer {
    display: contents;
    margin-top: auto;
    vertical-align: middle;
}

.videoWrapper video {
    top: 0;
    left: 0;
}

@media (min-width: 768px)
{
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 100%;
    }
    .videoInsert {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .videoContainer {
        margin-top: calc(0.25rem + 7.5px + 4.5vh);
        display: block;
        flex: 0 100%;
        height: 50%;
    }
    .videoWrapper video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    top: 20%;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    font-family: Arial;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.close{
    color: white;
}

.close:hover{
    color: white;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}

span {
    font-family: Arial !important;
    align-self: center;
    /*    font-weight: normal;
*/
}

table {
    height: 55vh;
    white-space: inherit;
    border: 2px solid #5d8bd5;
    color: #254b8b;
}

.tableSearch table {
    height: 55vh;
}

#listStaff table{
    height: 74vh;
}

@media (min-width: 768px)
{
    table{
        height: 60vh;
    }

    .tableSearch table{
        height: 70vh;
    }

    #report-container table{
        height: 60vh;
    }
}

.blink_me {
    animation: blinker 3s linear;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
        background-color: green;
    }

    to {
        opacity: 1.0;
    }
}

.page-nav {
    /*    position: inherit;
*/ /*    left: 0;
    right: 0;
    margin-right: auto;
    bottom: 2.8rem;*/
   margin-top: 1vh;
    font-size: calc(0.75rem + 0.5vw + 0.5vh);
/*    padding-bottom: 4.5vh;
*/}

.holidays-container .page-nav {
    height: 5vh;
    position: inherit;
    /*    left: 0;
    right: 0;
    margin-right: auto;
    bottom: 2.8rem;*/
    margin-bottom: 3vh;
    font-size: calc(0.75rem + 0.5vw + 0.5vh);
}

.page-nav a{
    align-self: center;
}

@media (min-width: 768px) {
    #page-content-wrapper .page-nav {
/*        margin-left: calc(14.5rem + 15px);
*/    }

    #page-content-wrapper.toggled .page-nav {
        margin-left: 0;
    }

    #nav_S em {
        margin-left: calc(20vw + 1.5rem);
        left: 0;
        position: absolute;
    }

    #page-content-wrapper.toggled #nav_S em {
        margin-left: calc(8vw + 1.5rem);
    }


}

.text-link:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.span-link {
    color: blue;
    text-decoration: underline;
}

    .span-link:hover {
        cursor: pointer;
    }

h2 {
    font-weight: 600;
}

button {
    background-color: rgb(37,75,139);
    color: white;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success:disabled {
    background: rgba(0, 255, 0, 0.5);
    color: darkslategray;
    cursor: not-allowed;
}

button:hover {
/*    background-color: rgba(37,75,139,0.5);
    text-decoration: none;*/
}

button:focus, button.focus {
/*    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

.theme {
    background-color: #254b8b;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

img {
    height: 150px;
    width: 150px;
}

@media (min-width: 576px) {
    img {
        height: 250px;
        width: 250px;
    }
}



em {
    align-self: center;
}

.dot_green {
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dot_red {
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.lbl-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    margin-bottom: 10px;
}

input, select {
    color: #254b8b !important;
}

/*#btnShowModal {
    padding: 0.25rem;
}

@media (min-width: 576px) {
    #btnShowModal {
        font-size: 16px;
    }
}
*/
#title {
    font-size: 1.5rem;
}

@media (min-width:576px) {
    #title {
        font-size: 2rem;
    }
}

.mainwindow {
    margin: 0;
    padding-top: calc(0.5rem + 5px) ;
    padding-left: calc(0.5rem + 5px) ;
    padding-right: calc(0.5rem + 5px) ;
    padding-bottom: 3vh;
}

.mainwindow-2 {
    margin: 0;
}

@media (min-width:768px) {
    .mainwindow {
        margin: 0;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3vh;
    }
}

table th {
    padding: 0.75rem 0.5rem !important;
    border-bottom: none !important;
    border-top: none !important;
}

#report-container table th {
    padding: 0.45rem 0.5rem !important;
    border-bottom: none !important;
    border-top: none !important;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#listHolidays td {
    vertical-align: middle !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #254b8b !important;
    border-color: black !important;
}

.dropbtn {
    font-size: calc(1.5rem + 1vw + 0.5vh);
    color: white;
    font-weight: normal;
    border: none;
    cursor: pointer;
}


.title {
    font-weight: bold;
    font-size: calc(1rem + 1vw);
}

@media (min-width: 586px) {
    .title {
        font-size: calc(0.5rem + 0.5vw + 0.5vh);
    }
}

@media (min-width: 768px) {
    .title {
        font-size: calc(0.75rem + 0.5vw + 0.75vh);
    }
}

form label {
    font-size: calc(0.65rem + 0.75vw) !important;
}

@media (min-width: 586px) {
    form label {
        font-size: calc(0.4rem + 0.5vw + 0.25vh) !important;
    }
}

@media (min-width: 768px) {
    form label {
        font-size: calc(0.65rem + 0.5vw + 0.5vh) !important;
    }
}

}

@media (min-width: 992px) {
    .company-report {
        margin: 0 5rem;
    }
}

.holidays-container {
    margin: 0 0.5rem !important;
    height: 95%;
}

@media (min-width: 768px) {
    .holidays-container {
/*        margin: 0 !important;
*/    }
}

button{
    font-size: calc(0.75rem + 0.5vw);
}

.list-group {
    width: 100% !important;
    font-size: 1.2rem;
    color: #254b8b !important;
}

.sidebar-heading {
    color: #254b8b;
    font-size: calc(0.5rem + 1vw) !important;
}


@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        -webkit-animation: none;
        animation: none;
    }
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.list-group-numbered {
    list-style-type: none;
    counter-reset: section;
}

    .list-group-numbered > li::before {
        content: counters(section, ".") ". ";
        counter-increment: section;
    }

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

    .list-group-item-action:hover, .list-group-item-action:focus {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #f8f9fa;
    }

    .list-group-item-action:active {
        color: #212529;
        background-color: #e9ecef;
    }

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

    .list-group-item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .list-group-item.disabled, .list-group-item:disabled {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    .list-group-item + .list-group-item {
        border-top-width: 0;
    }

        .list-group-item + .list-group-item.active {
            margin-top: -1px;
            border-top-width: 1px;
        }

.list-group-horizontal {
    flex-direction: row;
}

    .list-group-horizontal > .list-group-item:first-child {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0;
    }

    .list-group-horizontal > .list-group-item:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0;
    }

    .list-group-horizontal > .list-group-item.active {
        margin-top: 0;
    }

    .list-group-horizontal > .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }

        .list-group-horizontal > .list-group-item + .list-group-item.active {
            margin-left: -1px;
            border-left-width: 1px;
        }

@media (min-width: 576px) {
    .list-group-horizontal-sm {
        flex-direction: row;
    }

        .list-group-horizontal-sm > .list-group-item:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .list-group-horizontal-sm > .list-group-item:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

        .list-group-horizontal-sm > .list-group-item.active {
            margin-top: 0;
        }

        .list-group-horizontal-sm > .list-group-item + .list-group-item {
            border-top-width: 1px;
            border-left-width: 0;
        }

            .list-group-horizontal-sm > .list-group-item + .list-group-item.active {
                margin-left: -1px;
                border-left-width: 1px;
            }
}

@media (min-width: 768px) {
    .list-group-horizontal-md {
        flex-direction: row;
    }

        .list-group-horizontal-md > .list-group-item:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .list-group-horizontal-md > .list-group-item:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

        .list-group-horizontal-md > .list-group-item.active {
            margin-top: 0;
        }

        .list-group-horizontal-md > .list-group-item + .list-group-item {
            border-top-width: 1px;
            border-left-width: 0;
        }

            .list-group-horizontal-md > .list-group-item + .list-group-item.active {
                margin-left: -1px;
                border-left-width: 1px;
            }
}

@media (min-width: 992px) {
    .list-group-horizontal-lg {
        flex-direction: row;
    }

        .list-group-horizontal-lg > .list-group-item:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .list-group-horizontal-lg > .list-group-item:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

        .list-group-horizontal-lg > .list-group-item.active {
            margin-top: 0;
        }

        .list-group-horizontal-lg > .list-group-item + .list-group-item {
            border-top-width: 1px;
            border-left-width: 0;
        }

            .list-group-horizontal-lg > .list-group-item + .list-group-item.active {
                margin-left: -1px;
                border-left-width: 1px;
            }
}

@media (min-width: 1200px) {
    .list-group-horizontal-xl {
        flex-direction: row;
    }

        .list-group-horizontal-xl > .list-group-item:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .list-group-horizontal-xl > .list-group-item:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

        .list-group-horizontal-xl > .list-group-item.active {
            margin-top: 0;
        }

        .list-group-horizontal-xl > .list-group-item + .list-group-item {
            border-top-width: 1px;
            border-left-width: 0;
        }

            .list-group-horizontal-xl > .list-group-item + .list-group-item.active {
                margin-left: -1px;
                border-left-width: 1px;
            }
}

@media (min-width: 1400px) {
    .list-group-horizontal-xxl {
        flex-direction: row;
    }

        .list-group-horizontal-xxl > .list-group-item:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .list-group-horizontal-xxl > .list-group-item:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

        .list-group-horizontal-xxl > .list-group-item.active {
            margin-top: 0;
        }

        .list-group-horizontal-xxl > .list-group-item + .list-group-item {
            border-top-width: 1px;
            border-left-width: 0;
        }

            .list-group-horizontal-xxl > .list-group-item + .list-group-item.active {
                margin-left: -1px;
                border-left-width: 1px;
            }
}

.list-group-flush {
    border-radius: 0;
}

    .list-group-flush > .list-group-item {
        border-width: 0 0 1px;
    }

        .list-group-flush > .list-group-item:last-child {
            border-bottom-width: 0;
        }

.list-group-item-primary {
    color: #084298;
    background-color: #cfe2ff;
}

    .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
        color: #084298;
        background-color: #bacbe6;
    }

    .list-group-item-primary.list-group-item-action.active {
        color: #fff;
        background-color: #084298;
        border-color: #084298;
    }

.list-group-item-secondary {
    color: #41464b;
    background-color: #e2e3e5;
}

    .list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
        color: #41464b;
        background-color: #cbccce;
    }

    .list-group-item-secondary.list-group-item-action.active {
        color: #fff;
        background-color: #41464b;
        border-color: #41464b;
    }

.list-group-item-success {
    color: #0f5132;
    background-color: #d1e7dd;
}

    .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
        color: #0f5132;
        background-color: #bcd0c7;
    }

    .list-group-item-success.list-group-item-action.active {
        color: #fff;
        background-color: #0f5132;
        border-color: #0f5132;
    }

.list-group-item-info {
    color: #055160;
    background-color: #cff4fc;
}

    .list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
        color: #055160;
        background-color: #badce3;
    }

    .list-group-item-info.list-group-item-action.active {
        color: #fff;
        background-color: #055160;
        border-color: #055160;
    }

.list-group-item-warning {
    color: #664d03;
    background-color: #fff3cd;
}

    .list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
        color: #664d03;
        background-color: #e6dbb9;
    }

    .list-group-item-warning.list-group-item-action.active {
        color: #fff;
        background-color: #664d03;
        border-color: #664d03;
    }

.list-group-item-danger {
    color: #842029;
    background-color: #f8d7da;
}

    .list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
        color: #842029;
        background-color: #dfc2c4;
    }

    .list-group-item-danger.list-group-item-action.active {
        color: #fff;
        background-color: #842029;
        border-color: #842029;
    }

.list-group-item-light {
    color: #636464;
    background-color: #fefefe;
}

    .list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
        color: #636464;
        background-color: #e5e5e5;
    }

    .list-group-item-light.list-group-item-action.active {
        color: #fff;
        background-color: #636464;
        border-color: #636464;
    }

.list-group-item-dark {
    color: #141619;
    background-color: #d3d3d4;
}

    .list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
        color: #141619;
        background-color: #bebebf;
    }

    .list-group-item-dark.list-group-item-action.active {
        color: #fff;
        background-color: #141619;
        border-color: #141619;
    }


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.h2 {
    font-size: calc(1rem + 1vw + 1vh);
    font-weight: bold;
}

.info {
    font-size: calc(0.75rem + 0.75vw + 0.75vh);
    font-weight: bold;
}

/*@media (min-width: 576px) {
    .info {
        font-size: 36px;
    }
}*/

.bg-main {
    background-color: #254b8b;
    /*    background-image: linear-gradient(180deg, #4e73df 10%,rgba(37,75,139,1) 100%)
*/
}

.font-main {
    color: #254b8b;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

    .nav-link:hover, .nav-link:focus {
        text-decoration: none;
    }

    .nav-link.disabled {
        color: #858796;
        pointer-events: none;
        cursor: default;
    }

.nav-tabs {
    border-bottom: 1px solid #dddfeb;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid #254b8b;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: gray gray #6e707e;
}

.nav-tabs .nav-link.disabled {
    color: #858796;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #fff;
    border-color: #dddfeb #dddfeb #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.35rem;
}

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #4e73df;
    }

.nav-fill > .nav-link,
.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .navbar .container,
    .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

    .navbar-brand:hover, .navbar-brand:focus {
        text-decoration: none;
    }

.navbar-nav {
/*    padding-top: calc(1.5rem + 1vw + 5vh);
*/    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.35rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50% / 100% 100% no-repeat;
}

.navbar-nav-scroll {
    max-height: 75vh;
    overflow-y: auto;
}

@media (max-width: 575.98px) {
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-sm .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-sm .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-sm .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

        .navbar-expand-sm > .container,
        .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
            flex-wrap: nowrap;
        }

        .navbar-expand-sm .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-sm .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-sm .navbar-toggler {
            display: none;
        }
}

@media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        padding-top: 0;
    }

    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-md .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-md .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-md .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

        .navbar-expand-md > .container,
        .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
            flex-wrap: nowrap;
        }

        .navbar-expand-md .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-md .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-md .navbar-toggler {
            display: none;
        }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

        .navbar-expand-lg > .container,
        .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
            flex-wrap: nowrap;
        }

        .navbar-expand-lg .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-lg .navbar-toggler {
            display: none;
        }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-xl .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-xl .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-xl .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

        .navbar-expand-xl > .container,
        .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
            flex-wrap: nowrap;
        }

        .navbar-expand-xl .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-xl .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-xl .navbar-toggler {
            display: none;
        }
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

    .navbar-expand > .container,
    .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-expand .navbar-nav {
        flex-direction: row;
    }

        .navbar-expand .navbar-nav .dropdown-menu {
            position: absolute;
        }

        .navbar-expand .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }

    .navbar-expand > .container,
    .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
        flex-wrap: nowrap;
    }

    .navbar-expand .navbar-nav-scroll {
        overflow: visible;
    }

    .navbar-expand .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand .navbar-toggler {
        display: none;
    }

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);

}

    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: rgba(0, 0, 0, 0.7);
    }

    .navbar-light .navbar-nav .nav-link.disabled {
        color: rgba(0, 0, 0, 0.3);
    }

    .navbar-light .navbar-nav .show > .nav-link,
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
    }

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

    .navbar-light .navbar-text a {
        color: rgba(0, 0, 0, 0.9);
    }

        .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
            color: rgba(0, 0, 0, 0.9);
        }

.navbar-dark .navbar-brand {
    color: #fff;
}

    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #fff;
    }

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: rgba(255, 255, 255, 0.75);
    }

    .navbar-dark .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }

    .navbar-dark .navbar-nav .show > .nav-link,
    .navbar-dark .navbar-nav .active > .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #fff;
    }

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

    .navbar-dark .navbar-text a {
        color: #fff;
    }

        .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
            color: #fff;
        }


.animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}


.sidebar .nav-item.dropdown .dropdown-toggle::after,
.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after,
.topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
    position: relative;
    color: white;
}

    .sidebar .nav-item .nav-link .badge-counter,
    .topbar .nav-item .nav-link .badge-counter {
        position: absolute;
        transform: scale(0.7);
        transform-origin: top right;
        right: .25rem;
        margin-top: -.25rem;
    }

    .sidebar .nav-item .nav-link .img-profile,
    .topbar .nav-item .nav-link .img-profile {
        height: 2rem;
        width: 2rem;
    }


.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
}

    .topbar #sidebarToggleTop:hover {
        background-color: #eaecf4;
    }

    .topbar #sidebarToggleTop:active {
        background-color: #dddfeb;
    }


.sidebar {
    position: fixed;
    z-index: 2;
    width: 25rem;
    transition: 0s;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    transition: 0.5s;
}
.sidebar .nav-item {
    position: relative;
}

.sidebar .activated{
    background-color: #3061b5 !important;
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    line-height: 4rem;
    text-align: start;
    padding: 1.5rem 1.5rem 1rem;
    width: 25rem;
    font-size: calc(1.35rem + 1.35vw);
}

.sidebar .nav-item .nav-link span {
    font-weight:bold;

}

.sidebar .nav-item.active .nav-link {
    font-weight: 700;
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
}

.sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.sidebar .nav-item .collapsing {
    display: none;
    transition: none;
}

    .sidebar .nav-item .collapse .collapse-inner,
    .sidebar .nav-item .collapsing .collapse-inner {
        padding: .5rem 0;
        min-width: 10rem;
        font-size: 0.85rem;
        margin: 0 0 1rem 0;
    }

        .sidebar .nav-item .collapse .collapse-inner .collapse-header,
        .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
            margin: 0;
            white-space: nowrap;
            padding: .5rem 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 0.65rem;
            color: #b7b9cc;
        }

        .sidebar .nav-item .collapse .collapse-inner .collapse-item,
        .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            display: block;
            color: #3a3b45;
            text-decoration: none;
            border-radius: 0.35rem;
            white-space: nowrap;
        }

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: #dddfeb;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
    font-weight: 700;
}

.sidebar #sidebarToggle {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
    text-decoration: none;
}

.sidebar #sidebarToggle:focus {
    outline: none;
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: 0.25rem;
}

.sidebar.toggled .sidebar-card {
    display: none;
}


.sidebar #short {
    display: none;
}

.sidebar #long {
    display: flex;
}

.sidebar.toggled #short{
    display: flex;
}

.sidebar.toggled #long {
    display: none;
}


.sidebar .sidebar-brand {
    margin-top: 0.5rem;
    height: 4.375rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
/*        padding: 0.5rem 0.5rem;
*/        text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {            
/*            display: none;
*/
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
}

.sidebar .sidebar-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.35rem;
    color: white;
/*    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;*/
}

.sidebar .sidebar-card p {
    font-size: calc(0.5rem + 0.5vw + 0.5vh);
}

.sidebar .sidebar-card .sidebar-card-illustration {
    height: 3rem;
    display: block;
}

.sidebar .sidebar-card .sidebar-card-title {
    font-weight: bold;
}

@media (min-width: 768px) {
    .sidebar {
        position: relative;
        z-index: 0;
        width: 25vw !important;
    }

    .sidebar .sidebar-brand{
        font-size: 1.5rem;
    }

    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none;
    }

    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0;
        box-shadow: none;
    }

    .sidebar .nav-item .collapsing {
        display: block;
        transition: height 0.15s ease;
    }

    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        margin: 0 1rem;
    }

    .sidebar .nav-item .nav-link {
        line-height: 1rem;
        display: block;
        width: 100%;
        text-align: left;
        padding: 1vw;
/*        width: 14rem;
*/        
    }

    .sidebar .nav-item .nav-link i {
        font-size: 0.95rem;
        margin-right: 0.25rem;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1.25rem;
        display: inline;
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
    }

    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        content: '\f105';
    }

    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-text {
        display: inline;
    }

    .sidebar .sidebar-heading {
        text-align: left;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 8vw !important;
    }

    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(6.5rem + 1.5rem / 2);
        z-index: 1;
        top: 2px;
        -webkit-animation-name: growIn;
        animation-name: growIn;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
        animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    }

    .sidebar.toggled .nav-item .collapse .collapse-inner {
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        border-radius: 0.35rem;
    }

    .sidebar.toggled .nav-item .collapsing {
        display: none;
        transition: none;
    }

    .sidebar.toggled .nav-item .collapse,
    .sidebar.toggled .nav-item .collapsing {
        margin: 0;
    }

    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 8vw;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: none;
    }

    .sidebar.toggled .nav-item .nav-link i {
        font-size: 2rem;
        margin-right: 0;
    }

    .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
        display: none;
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        /*display: none;*/
        font-size: calc(0.5rem + 0.5vw);
    }

    .sidebar.toggled .sidebar-heading {
        text-align: center;
    }
}

.sidebar-light .sidebar-brand {
    color: #6e707e;
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}

.sidebar-light .nav-item .nav-link {
    color: #858796;
}

    .sidebar-light .nav-item .nav-link i {
        color: #d1d3e2;
    }

    .sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
        color: #6e707e;
    }

        .sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
            color: #6e707e;
        }

    .sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
        color: #b7b9cc;
    }

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
}

    .sidebar-light .nav-item.active .nav-link i {
        color: #6e707e;
    }

.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}

    .sidebar-light #sidebarToggle::after {
        color: #b7b9cc;
    }

    .sidebar-light #sidebarToggle:hover {
        background-color: #dddfeb;
    }

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
/*    color: rgba(255, 255, 255, 0.8);
*/}

.sidebar-dark .nav-item .nav-link i {
/*        color: rgba(255, 255, 255, 0.3);
*/    }

.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
    color: #fff;
}

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 1);
}

.sidebar-dark #sidebarToggle:hover {
/*        background-color: rgba(255, 255, 255, 0.25);
*/    }

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 1);
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

.index-content{
    display: block;
    height: 82.5vh;
}

@media (min-width: 768px)
{
    .index-content{
        display: flex;
        height: 100%;
    }
}

.row-none{
/*    height: calc(35vh + 5rem);
*//*    display: grid;
*/    flex-wrap: nowrap;
      padding: 0;

}

@media (min-width: 768px) {
    .row-md {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        flex: 0 40%;
        width: 40%;
        max-width: 40%;
    }
}

.tableSearch{
    height: 50%;
}

@media (min-width: 768px)
{
    .tableSearch {
        height: 75%;
    }
}

::-webkit-datetime-edit-text {
/*    color: red;
*/    font-size: 1rem;
}

.backdrop{
    opacity: 0.7;
}

.modal{
    z-index: 5;
}

.modal-backdrop{
    z-index: 4;
}

.modal-dialog {
    top: 5%;
}

#staffCheck{
    top: 10%;
}

#loginModal .modal-dialog{
    max-width: fit-content;
}

#loginModal input{
    width: 100%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60% ;
        margin: 1.75rem auto;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 60%;
    }
}

@media (min-width: 768px) {
    #row-height{
        align-content: space-between;   
/*        height: calc(100% - 5.85vh - 3rem);
*/    }
}

#table-height {
    /*    margin-bottom: calc(4rem + 10vh);
*/ width: 100%;
/*    height: 37.5vh;
*/    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
    /*padding-top: inherit*/
}

@media (min-width: 768px) {
    #table-height {
        /*        margin-bottom: 3rem;
*/      padding-left: 1rem;
        width: 60%;
        margin-top: 0;
        padding-top: 0;
    }
}

#page-content-wrapper {
    display: contents;
    overflow-x: hidden;
    height: inherit;
}

.btn-icon {
    width: 3rem;
    border: none
}

.form-control{
    font-size: calc(0.6rem + 0.5vw + 0.5vh);
    border: 1px solid #254b8b;
}

.header {
    position: sticky;
    top: 0;
    background-color: #254b8b;
    color: white;
    z-index: 1;
}

.table-container{
    height: 28vh;
    overflow: scroll;
    overflow-x: hidden;
}

.info-container {
    height: 30%;
    margin-top: calc(0.5rem + 1vh);
    align-items: center;
    color: #254b8b;
    font-weight: bold !important;
    text-align: center;
    width: 100%;
}

.info-container div{
    padding: 0;
}

@media (min-width: 768px) {
    .table-container {
        height: calc(91.5vh - 1rem - 30px);
        overflow: scroll;
        overflow-x: hidden;
    }

    .info-container {
        margin-top: calc(1.5rem + 1vh);
        height: 50%;
    }
}

.container{
/*    height: 100%;
*/    padding-bottom: 4.5vh;
}

main{
    height: 100%;
}

@media (min-width: 768px) {
    .holidays-main-container main {
        height: 90%;
    }
}

@media (min-width: 768px) {
    #ListIndex_Title {
        height: 4.5vh;
    }
}

#wrapper{
/*    height: 80vh;
*/}

@media (min-width: 768px)
{
    #wrapper{
        height: 100%;
    }
}

.holidays-wrapper {
    height: 75vh;
}

.holidays-main-container {
    max-width: 100%;
    height: 72.5vh;
}

@media (min-width: 768px){
    .holidays-wrapper {
        height: auto;
    }
    .holidays-main-container {
        height: auto;
        padding-bottom: 3vh;
    }

}

.holidays-container i{
    color: #254b8b;
}

.input-date {
    text-align: center;
}

.navbar-nav .dropbtn{
    background-color: inherit !important;
    color: white;
}

button .rounded-circle{
    border-radius: 10%;
}


.arrow {
    transform: rotate(180deg);
    width: 12rem;
    height: 4vh;
    display: flex;
    background: currentColor;
    transition:0.5s;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
}

.main-holidays {
    height: calc(2.5rem + 65vh + 5vw);
}

@media (min-width: 768px){
    .main-holidays {
        height: 100%;
    }
    .nav_H{
        margin-top: 0.5vh;
    } 
}

@media (min-width: 768px) {
    table .name {
        padding-left: 1.5rem !important;
    }
}

/*.modal-content input{
    width: 90%;
}*/

.modal-content label{
    text-align: right;
}

.modal-content form{
    padding-top: 1rem;
}

.modal-content .form-group{
    margin-bottom: 1rem !important;
}

.nav-item a {
    font-size: calc(0.6rem + 0.5vw + 0.5vh);
}

::-webkit-calendar-picker-indicator {
    margin-left: 0;
    overflow: visible;

}

#StaffNameautocomplete-list{
    max-height:70vh;
    overflow: scroll;
    overflow-x: hidden;
}


@media (min-width: 768px) {
    input:before {
        overflow: hidden;
        width: 100%;
        content: attr(data-date);
    }
}

/*input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}
*/

.holidays-container {
    font-size: calc(0.75rem + 0.5vw + 0.75vh);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-check{
    text-align:left;
}

.form-check-input{
    position: initial;
}